div.account_points {
	
	background: url('../../img/layout/logo_grad.png') top center no-repeat #ED1A23;
	float: right;
	margin: 0 0 10px 10px;
	border: 1px solid #FFFFFF;
}
div.account_points a {
	display: block;
	width: 100%;
	text-align: center;
	margin: 0;
	font-size: 20px;
	line-height: 24px;
	color: #FFFFFF;
	text-shadow: 1px 1px 0px #111111;
	font-weight: bold;
	text-decoration: none;
}
div.account_points:hover {
	border: 1px solid #CC0000;
}
div.account_points a span.main {
	display: block;
	padding: 6px 20px;
}
div.account_points a span.sub {
	margin: 0;
	display: block;
	text-align: right;
	color: #CCCCCC;
	font-size: 10px;
	text-align: center;
	text-shadow: 1px 1px 0px #111111;
	font-weight: normal;
}

/* Account Boxes */
div.account_box_wrap {
	width: 50%;
	float: left;
}

div.account_box,
div.account_box_nonlink {
	background: #FFFFFF;
	margin: 5px;
	position: relative;
	text-align: center;
}

div.account_box_nonlink a.red_button {
	float: right;
	margin: 0 0 10px 10px;
}
div.account_box i.account_icon {
	position: absolute;
	top: 35%;
	left: 5%;
	font-size: 40px;
	color: #CCCCCC;
	z-index: 200;
}
div.account_box a {
	display: block;
	position: relative;
	z-index: 300;
	text-decoration: none;
	width: 100%;
	padding: 40px 0 40px 0;
}
div.account_box a span.title,
div.account_box_nonlink span.title {
	display: block;
	padding: 7px;
	font-weight: bold;
	font-size: 14px;
	color: #222222;
}
div.account_box a span.desc,
div.account_box_nonlink span.desc {
	display: block;
	padding: 7px;
	font-weight: normal;
	font-size: 12px;
	color: #444444;
}
div.account_box a:hover span.title {
	color: #CC0000;
}
div.account_tick {
	background: url('../../img/icons/32/tick.png') right center no-repeat;
}

div.account_box_active {
	background: #dff0d8;
	border-color: #d6e9c6;
}

/* Points */
span.points_in {
	color: #009933;
	font-weight: bold;
}
span.points_out {
	color: #CC0000;
	font-weight: bold;
}

/* Div table: 430 */
div.div_padded_table {
	margin: 0;
	padding: 0;
	border: 0;
	text-align: left;
}
div.div_padded_table div.tr {
	padding: 8px;
	line-height: 1.5em;
	font-size: 11px;
}
div.div_padded_table div.tr div.td1 {
	width: 110px;
	float: left;
}
div.div_padded_table div.tr div.td2 {
	width: 360px;
	float: left;
}
div.div_padded_table div.tr div.td3 {
	width: 80px;
	float: left;
}
div.div_padded_table div.tr div.td4 {
	width: 80px;
	float: left;
}
div.table_header {
	font-weight: bold;
	color: #222222;
	font-size: 14px;
	border-bottom: 1px solid #EEEEEE;
}
div.div_padded_table div.even {
	background: #FFFFFF;
	border-bottom: 1px solid #EEEEEE;
}
div.div_padded_table div.odd {
	background: #F7F7F7;
	border-bottom: 1px solid #EEEEEE;
}

div.dark_line {
	height: 1px;
	overflow: hidden;
	padding: 0px !important;
	border-bottom: 1px solid #888888;
}

/* Account orders list */
div.order_list {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	overflow: hidden;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #EEEEEE;
}
div.order_history h1 {
	margin: 0 0 20px 0;
	text-align: left;
}
div.order_list_row {
	background: #FFFFFF;
	border-bottom: 1px solid #EEEEEE;
	text-align: left;
}
div.order_list_row:last-child {
	border-bottom: none;
}
div.order_list_row.even {
	background: #FFFFFF;
}
div.order_list_row.odd {
	background: #F1F1F1;
}
div.order_list_row:hover {
	background: #fff7d6;
}
div.order_list_row a {
	display: block;
	width: 100%;
	color: #333333;
}
div.order_list_row_1,
div.order_list_row_2,
div.order_list_row_3 {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	float: left;
}

div.order_list_row_1 {
	width: 20%;
	width: calc(150px);
}
div.order_list_row_2 {
	width: 60%;
	width: calc(100% - 150px);
}

div.order_list_row_1 a span.pad {
	display: block;
	padding: 52px 10px 0 10px;
	font-size: 32px;
	text-align: center;
}
div.order_list_row_2 a span.pad {
	display: block;
	padding: 30px 20px 30px 20px;
}
div.order_list_row_2 a span.ordername {
	display: block;
	font-size: 16px;
	font-weight: bold;
	line-height: 1.3em;
	margin: 0 0 5px 0;
	color: #E0121A;
	font-style: italic;
}
div.order_list_row_2 a span.orderid {
	display: block;
	font-size: 22px;
	font-weight: bold;
	line-height: 1.3em;
	margin: 0 0 5px 0;
}
div.order_list_row_2 a span.orderdate {
	display: block;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.3em;
	margin: 0 0 5px 0;
}
div.order_list_row_2 a span.orderstatus {
	display: block;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.1em;
	margin: 0;
}


/* Form */
div.account_form {
	margin: 0px;
}
div.account_form h3 {
	margin: 25px 0 10px 0;
}
div.account_form div.sep_dash {
	margin: 0 0 10px 0;
}
div.account_form label {
	display: block;
	margin: 15px 0 7px 0 !important;
}

/* Address book */
div.addresses_wrap {
	width: 50%;
	float: left;
}
div.addresses {
	margin: 5px;
	padding: 20px;
	background: #FFFFFF;
}
div.addresses_control {
	width: 100%;
	text-align: center;
}
div.addresses_control a {
	margin: 0 0 6px 0;
}
p.address_primary {
	color: #CC0000;
}

/* Highlight rows */
div.div_padded_table div.highlight_me:hover {
	background-color: #FEEFB3;
}

/* Cart page */
div.div_padded_table div.tr div.cart1 {
	width: 50px;
	float: left;
}
div.div_padded_table div.tr div.cart2 {
	width: 420px;
	float: left;
}
div.div_padded_table div.tr div.cart3 {
	width: 80px;
	float: left;
}
div.div_padded_table div.tr div.cart4 {
	width: 80px;
	width: 56px;
	float: right;
	text-align: right;
}

/* Orders page */
div.div_padded_table div.tr div.orders1 {
	width: 80%;
	float: left;
}
div.div_padded_table div.tr div.orders2 {
	width: 19%;
	float: left;
	text-align: right;
}


/* Account Circles */
div.account_circle {
	width: 140px;
	height: 140px;
	margin: 30px auto 30px auto;
	-moz-border-radius: 80px;
	-webkit-border-radius: 80px;
	border-radius: 80px;
}
div.account_circle_red {
	background: #E0131A;
}
div.account_circle_red:hover {
	background: #FF2029;
}
div.account_circle_pad {
	padding: 0;
}
div.account_circle a {
	display: block;
	width: 100%;
	color: #FFFFFF;
	font-size: 30px;
	overflow: hidden;
	/*font-size: 1vw;*/
}
div.account_circle a span.main {
	display: block;
	padding: 44px 0 44px 0;
	font-size: 30px;
}
div.account_circle a span.sub {
	display: block;
	font-size: 16px;
	margin: 4px 0 0 0;
	color: #CCCCCC;
}


/* Responsive */
@media only screen and (min-width: 980px) {
	
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
	/* Account */
	div.div_padded_table div.tr div.td1 {
		width: 90px;
	}
	div.div_padded_table div.tr div.td2 {
		width: 160px;
	}
	div.div_padded_table div.tr div.td3 {
		width: 80px;
	}
	div.div_padded_table div.tr div.td4 {
		width: 80px;
	}
	/* Cart */
	div.div_padded_table div.tr div.cart1 {
		width: 50px;
	}
	div.div_padded_table div.tr div.cart2 {
		width: 200px;
	}
	div.div_padded_table div.tr div.cart3 {
		width: 80px;
	}
	div.div_padded_table div.tr div.cart4 {
		width: 80px;
	}
	div.div_padded_table div.tr div.orders1 {
		width: 80%;
	}
	div.div_padded_table div.tr div.orders2 {
		width: 19%;
	}
}
@media only screen and (min-width: 475px) and (max-width: 767px) {
	div.div_padded_table div.tr div.td1 {
		width: 60px;
	}
	div.div_padded_table div.tr div.td2 {
		width: 160px;
	}
	div.div_padded_table div.tr div.td3 {
		display: none;
	}
	div.div_padded_table div.tr div.td4 {
		display: none;
	}
	/* Cart */
	div.div_padded_table div.tr div.cart1 {
		width: 40px;
	}
	div.div_padded_table div.tr div.cart2 {
		width: 320px;
	}
	div.div_padded_table div.tr div.cart3 {
		display: none;
	}
	div.div_padded_table div.tr div.cart4 {
		width: 70px;
		float: right;
	}
	div.div_padded_table div.tr div.orders1 {
		width: 80%;
	}
	div.div_padded_table div.tr div.orders2 {
		width: 19%;
	}
	
	/* Account Boxes */
	div.account_box_wrap {
		width: 100%;
		float: none;
	}
	
	div.account_circle {
		width: 140px;
		height: 140px;
		margin: 30px auto 30px auto;
		-moz-border-radius: 80px;
		-webkit-border-radius: 80px;
		border-radius: 80px;
		display: inline-block;
	}
	
	/* Address book */
	div.addresses_wrap {
		width: 100%;
		float: none;
	}
}
@media only screen and (min-width: 0px) and (max-width: 474px) {
	div.div_padded_table div.tr div.td1 {
		width: 60px;
	}
	div.div_padded_table div.tr div.td2 {
		width: 160px;
	}
	div.div_padded_table div.tr div.td3 {
		display: none;
	}
	div.div_padded_table div.tr div.td4 {
		display: none;
	}
	/* Cart */
	div.div_padded_table div.tr div.cart1 {
		width: 40px;
	}
	div.div_padded_table div.tr div.cart2 {
		width: 160px;
	}
	div.div_padded_table div.tr div.cart3 {
		display: none;
	}
	div.div_padded_table div.tr div.cart4 {
		width: 70px;
		float: right;
	}
	div.div_padded_table div.tr div.orders1 {
		width: 80%;
	}
	div.div_padded_table div.tr div.orders2 {
		width: 19%;
	}
	
	/* Account Boxes */
	div.account_box_wrap {
		width: 100%;
		float: none;
	}
	
	div.account_circle {
		width: 140px;
		height: 140px;
		margin: 30px auto 30px auto;
		-moz-border-radius: 80px;
		-webkit-border-radius: 80px;
		border-radius: 80px;
		display: inline-block;
	}
	
	/* Address book */
	div.addresses_wrap {
		width: 100%;
		float: none;
	}
	
	/* Account orders list */
	div.order_history {
		padding: 0 10px 0 10px;
	}
	div.order_list_row_1 {
		width: 20%;
		width: calc(80px);
	}
	div.order_list_row_2 {
		width: 60%;
		width: calc(100% - 80px);
	}
}