/*
	Pizza GOGO
	All pages
*/
html, body {
	background: #F1F2F2;
	font-size: 14px;
	color: #444444;
	font-family: 'Open Sans', sans-serif;
	height: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-align: center;
}
::-moz-selection{background:#EE1B23; color: #FFFFFF;}
::selection{background:#EE1B23; color: #FFFFFF;}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Exo 2', arial, sans-serif;
	color: #4A4B4C;
	font-weight: 700;
	text-transform: uppercase;
}
h1 {
	font-size: 32px;
	margin: 0 0 15px 0;
}
h2 {
	font-size: 28px;
	margin: 0 0 15px 0;
}
h3 {
	font-size: 28px;
	margin: 0 0 15px 0;
}
h4 {
	font-size: 26px;
	margin: 0 0 15px 0;
}
p {
	font-size: 16px;
	line-height: 1.6em;
	margin: 0 0 15px 0;
	color: #444444;
	font-family: 'Open Sans', arial, serif;
}
a {
	color: #E0121A;
	text-decoration: none;
	-webkit-transition: 0.25s;
	transition: 0.25s;
}
a:hover {
	color: #EE1B23;
}
ul {
	margin: 0 0 20px 0;
}
ul.standard li {
	list-style: square;
	font-size: 16px;
	line-height: 1.6em;
	margin: 0 0 15px 0;
	color: #444444;
	font-family: 'Open Sans', arial, serif;
}
ul.non_standard li {
	list-style: none;
	font-size: 16px;
	line-height: 1.6em;
	margin: 0 0 10px 0;
	color: #444444;
	font-family: 'Open Sans', arial, serif;
}
ul.standard.padded li {
	margin: 0 0 15px 20px;
	padding: 0 0 0 5px;
}

.no_overflow {
	overflow: hidden;
}

div#ui_mask,
div.ui_mask {
	background: url('../img/loaders/pizza_load.gif') center center no-repeat #FFFFFF;
	filter: alpha(opacity=60);
	opacity: 0.6;
	position: absolute;
	z-index: 5000;
}

div.info_page_text {
	padding: 100px;
}
div.info_page_text h1 {
	text-align: center;
}
div.info_page_text h3 {
	margin: 50px 0 5px 0;
}
div.info_page_text a {
	color: #EE1B23;
}

.icon_green {
	color: #00CC00;
}
.icon_red {
	color: #CC0000;
}
.icon_blue {
	color: #0000CC;
}
.icon_yellow {
	color: #FFCC00;
}
.bold {
	font-weight: bold;
}
hr {
	box-sizing: content-box;
    height: 0;
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #CCCCCC;
	margin: 1em 0;
	padding: 0;
}
hr.darkblue {
	border-top: 1px solid #00519E;
}
div.form p {
    font-size: 11px;
    color: #777777;
    margin: 0 0 3px 0;
}

.coloured {
    color: #E0121A;
}


/* Wrapper */
div.wrapper {
	width: 1200px;
	margin: 0 auto 0 auto;
	text-align: center;
}

/* Page content */
div.content {
	text-align: left;
}
div.page_pad {
	padding: 50px 40px 50px 40px;
}
div.page_pad_smaller {
	padding: 20px 40px 50px 40px;
}
div.page_pad_smalltop {
	padding: 20px 40px 50px 40px;
}
.white_page {
	background: #FFFFFF;
}
.offset_page {
	background: #F1F2F2;
}
.poly_page {
	background: url('../img/layout/poly.jpg');
}
.red_page {
	background: #E0121A;
}
.shadow_element {
	-moz-box-shadow: 0 2px 0 rgba(29,29,33,0.07);
	-webkit-box-shadow: 0 2px 0 rgba(29,29,33,0.07);
	box-shadow: 0 2px 0 rgba(29,29,33,0.07);
}
.shadow_element_large {
	-moz-box-shadow: 2px 2px 5px rgba(29,29,33,0.1);
	-webkit-box-shadow: 2px 2px 5px rgba(29,29,33,0.1);
	box-shadow: 2px 2px 5px rgba(29,29,33,0.1);
}
.shadow_element_heavy {
	-moz-box-shadow: 2px 2px 5px rgba(29,29,33,0.5);
	-webkit-box-shadow: 2px 2px 5px rgba(29,29,33,0.5);
	box-shadow: 2px 2px 5px rgba(29,29,33,0.5);
}

div.align_left {
	text-align: left;
}
div.align_right {
	text-align: right;
}
div.align_center {
	text-align: center;
}
div.mob_center {}	

div.sep_dash {
	border: 0;
	border-top: 2px dashed #EEEEEE;
	overflow: hidden;
	height: 1px;
	margin: 30px 0 30px 0;
}

/* Header */
div#hold_header {
	height: 75px;
	margin: 0;
}
div.header {
	-webkit-backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	z-index: 1000;
	background: none;
	height: 75px;
	margin: 0;
}
div.header_red {
	background: #E0121A;
	-moz-box-shadow: 0 2px 2px rgba(29,29,33,0.4);
	-webkit-box-shadow: 0 2px 2px rgba(29,29,33,0.4);
	box-shadow: 0 2px 2px rgba(29,29,33,0.4);
}
a.logo {
	display: block;
	width: 120px;
	height: 120px;
	background: url('../img/logo/logo_120.png') 0px 0px no-repeat;
	text-decoration: none;
	text-indent: -9999px;
	float: left;
	margin: 10px 0 0 0;
}


div.header_right {
	width: 600px;
	float: right;
	text-align: right;
}
div.header_right a {
	display: inline-block;
	height: 75px;
	font-size: 20px;
	font-weight: 700px;
	color: #FFFFFF;
	font-family: 'Exo 2', arial, sans-serif;
	text-transform: uppercase;
	margin: 0;
}
div.header_right a i.icon {
	color: rgba(255,255,255,0.4);
	-webkit-transition: 0.25s;
	transition: 0.25s;
}
div.header_right a span.paddy {
	display: block;
	padding: 28px 15px 0 15px;
}
div.header_right a:hover {
	background: rgba(255,255,255,0.15);
}
div.header_right a:hover i.icon {
	color: rgba(255,255,255,1);
}
div.header_right a.cart i.icon {
	color: rgba(255,255,255,1);
}

div.header_right a.checkout_active {
	background: #f1c40f;
	color: #222222;
}
div.header_right a.checkout_active {
	color: #FFFFFF;
	text-shadow: 1px 1px 1px #333333;
}
div.header_right a.checkout_active i.icon {
	color: #FFFFFF;
	text-shadow: 1px 1px 1px #333333;
}

/* Mobile navigation */
div.mobile_navigation {
	display: block;
	width: 100%;
	position: absolute;
	top: 74px;
	background: #EE1B23;
	z-index: 4000;
	text-decoration: none;
	display: none;
}
div.mobile_navigation,
div.mobile_nav, 
ul#mobile_navigation {
	display: none;
}

div.mobile_nav span.cart_mobile_count {
	display: block;
	width: 16px;
	height: 16px;
	overflow: hidden;
	font-size: 16px;
	font-family: arial, sans-serif;
	color: #FFFFFF;
	background: #6BC72A;
	background: rgba(107,199,42,0.9);
	position: absolute;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
	top: 2px;
	right: 2px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 4px;
}

/* Content page */
div#content_page {
	min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -250px auto;
}
div#content_page_bottom {
	height: 250px;
}

/* Footer */
div#footer {
	width: 100%;
	min-height: 250px;
	background: #222222;
}
div#footer_top {
	background: #E0121A;
	background: url('../img/logo/footer_asset.jpg') center right no-repeat #E0121A;
}
div#footer_top ul {
	margin: 0;
	padding: 0;
}
div#footer_top ul li {
	float: left;
}
div#footer_top ul li a {
	display: block;
	color: #FFFFFF;
	font-size: 18px;
	text-decoration: none;
	font-weight: bold;
	border-right: 1px solid rgba(17,17,17,0.15);
}
div#footer_top ul li:last-child a {
	border-right: none;
}
div#footer_top ul li a:hover {
	background: #EE1B23;
}
div#footer_top ul li a span {
	display: block;
	padding: 25px 35px 25px 35px;
}
div#footer_inner {
	/*border-top: 1px solid #E0121A;*/
	text-align: center;
}
div#footer_inner_pad {
	padding: 50px 0 50px 0;
}
p.footer_links,
p.footer_copy {
	color: #555555;
}
p.footer_links a {
	color: #777777;
}
p.footer_links a:hover {
	color: #FFFFFF;
}

div.footer_social {
	width: 140px;
	float: right;
	margin: 18px 0 0 0;
	text-align: right;
}
div.footer_social a.social_icon {
	margin: 0 5px 0 5px;
}

a.social_icon {
	display: inline-block;
	width: 32px;
	height: 32px;
}
a.social_icon_large {
	width: 150px;
	height: 40px;
	background-position: 5px center;
	background-repeat: no-repeat;
	margin: 5px;
}
span.si_pad {
	display: block;
	padding: 12px 0 0 40px;
	text-align: left;
	font-size: 16px;
	color: #FFFFFF;
}

a.social_icon_facebook {
	background-image: url('../img/social/facebook.png');
	background-color: #3B5998;
}
a.social_icon_twitter {
	background-image: url('../img/social/twitter.png');
	background-color: #56A3D9;
}
a.social_icon_instagram {
	background-image: url('../img/social/instagram.png');
	background-color: #CD5959;
}

a.social_64 {
	display: inline-block;
	width: 64px;
	height: 64px;
}
a.social_64.tiktok {
	background-image: url('../../img/social/64/tiktok.png');
}
a.social_64.facebook {
	background-image: url('../../img/social/64/facebook.png');
}
a.social_64.instagram {
	background-image: url('../../img/social/64/instagram.png');
}
a.social_64.twitter {
	background-image: url('../../img/social/64/twitter.png');
}
a.social_32 {
	display: inline-block;
	width: 32px;
	height: 32px;
	background-size: 32px 32px;
}
a.social_32.tiktok {
	background-image: url('../../img/social/64/tiktok.png');
}
a.social_32.facebook {
	background-image: url('../../img/social/64/facebook.png');
}
a.social_32.instagram {
	background-image: url('../../img/social/64/instagram.png');
}
a.social_32.twitter {
	background-image: url('../../img/social/64/twitter.png');
}

/* Maps */
div.info_window_content {
	width: 200px;
	height: 200px;
}
div.info_window_inner {
	padding: 15px;
}
div.info_window_content p.title {
	font-size: 14px;
	font-family: 'Exo 2', arial, sans-serif;
	color: #E0121A;
}
div.info_window_content p.text {
	font-size: 12px;
	font-family: 'Open sans', arial, sans-serif;
	color: #777777;
}
div.info_window_content a {
	color: #E0121A;
	text-transform: uppercase;
	font-size: 14px;
}
div.info_window_content p.text a:hover,
div.info_window_content p.text a:active {
	color: #E0121A;
}

img.image_fit {
	width: 100%;
	height: auto;
}


/* Instagram feed */
div#instafeed img {
	float: left;
	width: 20%;
	height: auto;
}

div.page_404 {
	margin: 60px 0 60px 0;
}
div.page_404 h1 {
	font-size: 100px;
	text-shadow: 5px 5px 0px #FFFFFF;
}
div.page_404 p {
	font-size: 26px;
	margin: 0 0 8px 0;
}
div.page_404 p a {
	color: #CC0000;
}

/* Global quick postcode select */
div#quick_store_select_postcode_parent {
	width: 600px;
	margin: 20px auto 20px auto;
}
div#quick_store_select_postcode_parent.full {
	width: 100%;
}
div#quick_store_select_postcode {
	background: #FFFFFF;
}
div#quick_store_select_postcode div.left {
	width: 450px;
	height: 60px;
	float: left;
	background: #FFFFFF;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	overflow: hidden;
}
div#quick_store_select_postcode div.right {
	width: 150px;
	height: 60px;
	float: left;
	background: #EE1B23;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	overflow: hidden;
}
div#quick_store_select_postcode_parent.full div#quick_store_select_postcode div.left {
	width: calc(100% - 150px);
}
div#quick_store_select_postcode div.left input.postcode_input,
div#quick_store_select_postcode div.left a.postcode_input {
	display: block;
	border: none;
	width: 100%;
	height: 60px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 0px 0px 0px 15px;
	font-size: 20px;
	line-height: 1em;
	color: #444444;
}
div#quick_store_select_postcode div.right input.postcode_submit,
div#quick_store_select_postcode div.right a.postcode_submit {
	display: block;
	border: none;
	width: 100%;
	height: 60px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	font-size: 20px;
	line-height: 1em;
	color: #FFFFFF;
	background-color: #EE1B23;
	padding: 20px 10px 20px 10px;
}
div#quick_store_select_postcode div.right input.postcode_submit:hover,
div#quick_store_select_postcode div.right a.postcode_submit:hover {
	background-color: #FC3E45;
}

/* Floaty foot */
div#floaty_foot_sticky {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 64px;
	background: #333333;
	background: rgba(51, 51, 51, 0.9);
	z-index: 9999;
	display: none;
}
div#floaty_foot_sticky .fpad {
	padding: 10px;
}


/* Promo */
div.p_wrapper {
	width: 100%;
	background: none;
	margin: 0;
}
div.p_wide {
	width: 100%;
	background-color: #E3E3E3;
}
div.p_wide a.p_doritos {
	display: block;
	position: relative;
	text-decoration: none;
	background-image: url('../../img/special/doritos/doritos_bar_1200200.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	-o-background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	width: 100%;
}
div.p_wide a.p_doritos span.p_inner {
	display: block;
	padding-bottom: 16.66%;
}
/* 2022Stamps */
div.p_wide div.p_stamps {
	display: block;
	position: relative;
	text-decoration: none;
	background-color: #01a552;
	background-image: url('../../img/special/stamps/stamps_bar_1200200.jpg');
	background-repeat: no-repeat;
	background-position: left center;
	-o-background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	width: 100%;
	max-height: 200px;
	overflow: hidden;
}
div.p_wide div.p_stamps:after {
	content: "";
	display: table;
	clear: both;
}
div.p_wide div.p_stamps span.p_inner {
	display: block;
	padding-bottom: 16.66%;
}
div.p_wide div.p_stamps a.p_stampsclick {
	display: block;
	width: 30%;
	width: calc(320px);
	min-height: 200px;
	float: left;
}
div.p_wide div.p_stamps div.reward_stamps {
	width: 70%;
	width: calc(100% - 350px);
	float: right;
	text-align: right;
	min-height: 200px;
}
div.p_wide div.p_stamps div.reward_stamps div.reward_stamps_inner {
	padding: 34px 20px 0px 0px;
}
div.p_wide div.p_stamps div.reward_stamp {
	display: inline-block;
	width: 100px;
	height: 100px;
}
div.p_wide div.p_stamps div.reward_stamp a {
	display: block;
	width: 100px;
	height: 100px;
	text-decoration: none;
	background-image: url('../../img/special/stamps/rewards_stamps_sprite.png');
	background-position: 0px 0px;
	-webkit-transition: none;
	transition: none;
}
div.p_wide div.p_stamps div.reward_stamp a:hover {
	background-position: 100px 0px;
}
div.p_wide div.p_stamps div.reward_stamp a.active {
	background-position: 0px 100px;
}
div.p_wide div.p_stamps div.reward_stamp a.active:hover {
	background-position: 100px 100px;
}
div.p_wide div.p_stamps div.reward_stamp_text p,
div.p_wide div.p_stamps div.reward_stamp_text p a {
	font-size: 20px;
	color: #FFFFFF;
	font-family: 'Open Sans', sans-serif;
	text-shadow: 2px 3px 4px rgba(0,0,0,0.4);
	margin: 0px;
}
div.p_wide div.p_stamps div.reward_stamp_text p a i.icon {
	display: inline-block;
	color: #FFFFFF;
	font-size: 18px;
	color: rgba(255,255,255,0.5);
	margin: 0px;
	text-shadow: 2px 3px 4px rgba(0,0,0,0.4);
}
div.stamp_vouchers {
	margin: 0;
}
div.stamp_vouchers div.voucher_row {
	border-bottom: 1px dashed #CCCCCC;
	padding: 10px 0 10px 0;
	margin: 10px 0 10px 0;
}
div.stamp_vouchers div.voucher_row:last-child {
	border-bottom: none;
}
div.stamp_vouchers div.voucher_row div.left {
	width: 70%;
	float: left;
}
div.stamp_vouchers div.voucher_row div.right {
	width: 30%;
	float: left;
}
div.stamp_vouchers div.voucher_row div.right a.button_flat_small {
	padding: 11px !important;
}
div.stamp_vouchers div.voucher_row::after {
	display: table;
	content: "";
	clear: both;
}
div.stamp_vouchers a.copy {
	display: inline-block;
	padding: 5px;
	margin: 0 0 0 10px;
	border: 1px solid #CCC;
	color: #111;
}

div.p_small div.p_wide div.p_stamps div.reward_stamps {
	height: auto;
	min-height: auto;
}

.copy_tooltip {
  position: relative;
  display: inline-block;
}

.copy_tooltip .copy_tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.copy_tooltip .copy_tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.copy_tooltip:hover .copy_tooltiptext {
  visibility: visible;
  opacity: 1;
}



div.small_page {
	max-width: 500px;
	margin: 0 auto 0 auto;
	padding: 30px 0 30px 0;
}

/* Data Checkup */
div#data_checkup {
	max-width: 600px;
	margin: 40px auto 40px auto;
}
div#data_checkup_inner {
	padding: 50px 0 50px 0;
}
div#data_checkup div.checkup_space {
	height: 20px;
}
div#data_checkup p.checkup_para span.line1 {
	font-size: 16px;
}
div#data_checkup p.checkup_para span.line2 {
	font-size: 14px;
}

div#data_checkup p.small,
div#data_checkup p.small2 {
	font-size: 14px;
	color: #999999;
	text-shadow: 1px 1px 1px #FFFFFF;
	margin: 0 0 15px 0;
}
div#data_checkup p.small a {
	color: #777777;
}
div#data_checkup p.small2 a {
	color: #333333;
	font-size: 16px;
}

div.link_select_box {
	background: #FFFFFF;
	margin: 0px 0px 15px 0px;
	-webkit-transition: 0.25s;
	transition: 0.25s;
}
div.link_select_box:hover {
	background: #F7F7F7;
}
div.link_select_box a {
	display: block;
	text-decoration: none;
	width: 100%;
	color: #333333;
}
div.link_select_box a span.line_pad,
div.link_select_box a span.line_title,
div.link_select_box a span.line {
	display: block;
	padding: 5px 0px 5px 0px;
	font-size: 16px;
	line-height: 22px;
}
div.link_select_box a span.line_title {
	color: #0054a5;
	font-weight: bold;
}
div.link_select_box a span.line_pad {
	padding: 20px;
}

/* Giveaway 2021 */
div.giveaway2021_winner {
	margin: 15px 0 15px 0;
	border: 2px solid #4F8A10;
	background: #DFF2BF;
	text-align: center;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 26px;
	
	background: #d5ff8f;
	background-image: url(../../img/giveaway/giveaway-background.png);
	background-position: top center;
	background-repeat: no-repeat;
}
div.giveaway2021_winner p.line1 {
	font-size: 32px;
    line-height: 32px;
    font-weight: bold;
    margin: 0px;
}
div.giveaway2021_winner p.line2 {
	display: inline-block;
	padding: 10px;
	font-size: 32px;
	font-weight: bold;
	border: 5px solid yellow;
}
div.giveaway2021_winner p.line3 {
	font-size: 24px;
    margin: 0px 0px 6px 0px;
    font-weight: bold;
}
div.giveaway2021_winner p.line4 {
	font-weight: normal;
	font-size: 16px;
	margin: 0px;
	line-height: 1.4em;
}

/* Menu message block */
div.menu_message {
	padding: 30px 5px 30px 5px;
}
div.menu_message p.icon {
	font-size: 64px;
	margin: 0 0 10px 0; 
}
div.menu_message h1 {
	font-size: 32px;
	margin: 0 0 10px 0;
}
div.menu_message p {
	font-size: 18px;
	margin: 0px;
}

div.security_information {
	border: 3px solid #00e000;
	background: #353738;
	padding: 6px;
	border-radius: 12px;
}
div.security_information p {
	font-size: 14px;
	color: #FFF;
	margin: 0 0 2px 0;
}
div.security_information img {
	width: 100%;
	height: auto;
	max-width: 360px;
}

div#iframe_youtube iframe {
	width: 100%;
	height: auto;
	min-height: 600px;
}
div#iframe_youtube.smaller iframe {
	min-height: 240px;
}
div#iframe_youtube a.ytlink {
	display: block;
	width: 100%;
	background: #FF0000;
	color: #FFFFFF;
	text-shadow: 1px 1px 1px #000000;
	margin: 20px 0 0 0;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
}
div#iframe_youtube a.ytlink span {
	display: block;
	padding: 10px 20px 10px 20px;
}

/******************************/
/*
	Responsive
*/

@media only screen and (min-width: 1200px) and (max-width: 1500px) {
	/* WRAPPER */
	div.wrapper {
		width: 1100px;
	}
	/* PAGE PAD */
	div.page_pad {
		padding: 50px 40px 50px 40px;
	}
	div.page_pad_smaller {
		padding: 25px 20px 25px 20px;
	}
	div.page_pad_smalltop {
		padding: 20px 40px 50px 40px;
	}
}
/* Desktops */
@media only screen and (min-width: 980px) and (max-width: 1199px) {
	/* WRAPPER */
	div.wrapper {
		width: 970px;
	}
	/* PAGE PAD */
	div.page_pad {
		padding: 50px 40px 50px 40px;
	}
	div.page_pad_smaller {
		padding: 25px 20px 25px 20px;
	}
	div.page_pad_smalltop {
		padding: 20px 40px 50px 40px;
	}
	
	
	div#footer_top ul li a span {
		display: block;
		padding: 25px 20px 25px 20px;
	}
}
/* iPad (or small monitor) Styles */
@media only screen and (min-width: 768px) and (max-width: 979px) {
	/* WRAPPER */
	div.wrapper {
		width: 750px;
	}
	/* PAGE PAD */
	div.page_pad {
		/*padding: 50px 40px 50px 40px;*/
		padding: 20px 10px 20px 10px;
	}
	div.page_pad_smaller {
		padding: 25px 20px 25px 20px;
	}
	div.page_pad_smalltop {
		padding: 20px 40px 50px 40px;
	}
	
	div#footer_top ul li a {
		display: block;
		color: #FFFFFF;
		font-size: 16px;
		text-decoration: none;
		font-weight: normal;
		border-right: 1px solid rgba(17,17,17,0.15);
	}
	div#footer_top ul li a span {
		display: block;
		padding: 25px 10px 25px 10px;
	}
	
	/* 2022RewardStamps */
	div.p_wide div.p_stamps a.p_stampsclick {
		width: calc(100px);
	}
	div.p_wide div.p_stamps div.reward_stamps {
		width: calc(100% - 105px);
	}
}
/* Mobile Styles */
@media only screen and (min-width: 0px) and (max-width: 767px) {
	/* WRAPPER */
	div.wrapper,
	div.mini_wrapper	{
		width: 100%;
	}
	
	/* Text */
	h1 {
		font-size: 28px;
		margin: 0 0 15px 0;
	}
	h2 {
		font-size: 24px;
		margin: 0 0 15px 0;
	}
	h3 {
		font-size: 24px;
		margin: 0 0 15px 0;
	}
	h4 {
		font-size: 22px;
		margin: 0 0 15px 0;
	}
	
	/* PAGE PAD */
	div.page_pad {
		padding: 10px 10px 10px 10px;
	}
	div.page_pad_mobile_0 {
		padding: 0px;
	}
	div.page_pad_smaller {
		padding: 5px 5px 5px 5px;
	}
	div.page_pad_smalltop {
		padding: 5px 10px 10px 10px;
	}
	div.mobile_pad_me {
		padding: 20px 0 20px 0;
	}
	
	div.info_page_text {
		padding: 10px;
	}
	div.info_page_text h1 {
		text-align: center;
	}
	div.info_page_text h3 {
		margin: 30px 0 5px 0;
	}
	
	a.logo {
		display: block;
		width: 70px;
		height: 70px;
		background: url('../img/logo/logo_120.png') 0px 0px no-repeat;
		text-decoration: none;
		text-indent: -9999px;
		float: left;
		margin: 3px 0 0 3px;
		background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		-o-background-size: cover;
	}
	
	div#footer_top {
		background: #E0121A;
	}
	div.footer_social {
		width: 100%;
		float: none;
		padding: 10px 0 10px 0;
		text-align: left;
		background: #E0121A;
		background: url('../img/logo/footer_asset.jpg') center right no-repeat #E0121A;
		border-bottom: 2px solid #333333;
	}
	div#footer_top ul li {
		float: left;
		width: 50%;
	}
	div#footer_top ul li.mob_full {
		float: none;
		width: 100%;
	}
	div#footer_top ul li a {
		font-size: 16px;
		border-right: none;
	}
	
	p.footer_links,
	p.footer_copy {
		color: #222222;
		text-align: center;
	}
	p.footer_links a {
		color: #777777;
		display: block;
	}
	p.footer_links a:hover {
		color: #FFFFFF;
	}
	p.footer_copy {
		color: #555555;
		font-size: 12px;
		margin: 5px;
	}
	
	/* MOBILE NAVIGATION */
	div.header_right {
		width: 100px;
	}
	div.standard_nav {
		display: none;
	}
	div.mobile_nav {
		display: block;
		width: 130px;
		height: 54px;
		float: right;
		margin: 10px 10px 0 0;
		text-align: right;
	}
	div.mobile_nav a {
		display: inline-block;
		color: #FFFFFF;
		background: #EE1B23;
		text-decoration: none;
		font-size: 32px;
		width: 54px;
		height: 54px;
		text-align: center;
		position: relative;
	}
	div.mobile_nav a:hover {
		background: #FF333B;
	}
	div.mobile_nav a span.paddy {
		display: block;
		padding: 12px 0 0 0;
	}
	div.mobile_navigation { 
		-moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
		-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
		box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
	}
	div.mobile_navigation ul#mobile_navigation {
		display: block;
		width: 100%;
		background: #F5F5F5;
		margin: 0;
	}
	div.mobile_navigation ul#mobile_navigation li {
		width: 100%;
		float: none;
		background: #F5F5F5;
	}
	div.mobile_navigation ul#mobile_navigation li a {
		display: block;
		width: 100%;
		text-align: left;
		font-size: 18px;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		border: 1px solid #CC0000;
		text-shadow: 1px 1px 1px #111111;
		background: #EE1B23;
		color: #FFFFFF;
	}
	div.mobile_navigation ul#mobile_navigation li a span {
		display: block;
		padding: 20px;
	}
	div.mobile_navigation ul#mobile_navigation li a span i.icon {
		font-size: 18px;
		color: #CCCCCC;
		text-shadow: 1px 1px 1px #222222;
	}
	div.mobile_navigation ul#mobile_navigation li a span.cart_item_count {
		display: inline-block;
		padding: 0;
	}
	
	/* Global quick postcode select */
	div#quick_store_select_postcode_parent {
		width: 100%;
		margin: 10px auto 10px auto;
	}
	div#quick_store_select_postcode div.left {
		width: 70%;
		height: 60px;
	}
	div#quick_store_select_postcode div.right {
		width: 30%;
		height: 60px;
	}
	div#quick_store_select_postcode_parent.full div#quick_store_select_postcode div.left {
		width: 70%;
	}
	
	/* Mobile needs extra footer padding for sticky bottom bars */
	div#footer_inner_pad {
		padding: 50px 0 150px 0;
	}
	
	/* Floaty foot */
	div#floaty_foot_sticky {
		display: block;
	}
	
	div.mob_center {
		text-align: center;
	}
	
	/* Promo */
	div.p_wrapper {
		margin: 0 0 30px 0;
	}
	div.p_wide a.p_doritos {
		background-image: url('../../img/special/doritos/doritos_bar_1000500.jpg');
	}
	div.p_wide a.p_doritos span.p_inner {
		padding-bottom: 50%;
	}
	
	/* Data Checkup */
	div#data_checkup {
		width: 100%;
		margin: 40px auto 40px auto;
	}
	div#data_checkup_inner {
		padding: 20px;
	}
	
	/* Giveaway 2021 */
	div.giveaway2021_winner {
		margin: 10px 0 10px 0;
		padding: 16px;
	}
	div.giveaway2021_winner p.line1 {
		font-size: 26px;
		line-height: 26px;
	}
	div.giveaway2021_winner p.line3 {
		font-size: 20px;
		line-height: 1.4em;
		margin: 0px 0px 6px 0px;
		font-weight: bold;
	}
	div.giveaway2021_winner p.line4 {
		font-weight: normal;
		font-size: 16px;
		margin: 0px;
		line-height: 1.4em;
	}
	
	/* Menu message block */
	div.menu_message {
		padding: 30px 10px 30px 10px;
	}
	div.menu_message p.icon {
		font-size: 64px;
		margin: 0 0 10px 0; 
	}
	div.menu_message h1 {
		font-size: 32px;
		margin: 0 0 10px 0;
	}
	div.menu_message p {
		font-size: 16px;
		margin: 0px;
	}
	
	/* 2022RewardStamps */
	div.p_wide div.p_stamps {
		background-image: url('../../img/special/stamps/stamps_bar_1000500.jpg');
		background-position: top center;
	}
	div.p_wide a.p_stamps div.p_inner {
		padding-bottom: 50%;
	}
	div.p_wide div.p_stamps a.p_stampsclick {
		display: none;
	}
	div.p_wide div.p_stamps div.reward_stamps {
		width: 100%;
		float: none;
		text-align: center;
	}
	div.p_wide div.p_stamps div.reward_stamps div.reward_stamps_inner {
		padding: 90px 10px 0 10px;
	}
	div.p_wide div.p_stamps div.reward_stamp_text p, 
	div.p_wide div.p_stamps div.reward_stamp_text p a {
		font-size: 16px;
	}
	div.p_wide div.p_stamps div.reward_stamp_text p a span {
		display: block;
		font-size: 18px;
	}
	
	div.p_wide div.p_stamps div.reward_stamp {
		width: 50px;
		height: 50px;
	}
	div.p_wide div.p_stamps div.reward_stamp a {
		width: 50px;
		height: 50px;
		background-size: 100px 100px;
	}
	
	div.p_wide div.p_stamps div.reward_stamp a {
		background-position: 0px 0px;
	}
	div.p_wide div.p_stamps div.reward_stamp a:hover {
		background-position: 50px 0px;
	}
	div.p_wide div.p_stamps div.reward_stamp a.active {
		background-position: 0px 50px;
	}
	div.p_wide div.p_stamps div.reward_stamp a.active:hover {
		background-position: 50px 50px;
	}
	
	div#iframe_youtube iframe {
		width: 100%;
		height: auto;
		min-height: 280px;
	}
	div#iframe_youtube.smaller iframe {
		min-height: 240px;
	}
}