/*
	Pizza GOGO
	Entry page
*/
html, body {
	background: #EEEEEE;
	background: none;
	height: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
::-moz-selection{background:#DB404C; color: #FFFFFF;}
::selection{background:#DB404C; color: #FFFFFF;}

/* Entire page */
div#entry {
	height: 95%;
	height: 700px;
	height: 90vh;
	min-height: 750px;
	
	width: 100%;
	/*
	height: 90vh;
	
	-webkit-box-shadow: 0 0 350px 150px rgba(111,43,144,0.2) inset;
	box-shadow: 0 0 350px 150px rgba(111,43,144,0.2) inset;
	*/
	background: rgba(0,0,0,0.5);
	background: none;
	
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
	
	overflow: hidden;
}

div#entryold {
	position: relative;
	width: 100%;
	height: 900px; /* Gets altered dynamically by entry.js */
}
header {

}
div.header {
	z-index: 100;
	position: absolute;
	width: 100%;
	margin: 30px 0 0 0;
}
div#hold_video {
	width: 100%;
	height: 900px; /* Gets altered dynamically by entry.js */
	overflow: hidden;
	background: #CCC;
	background: none;
	position: relative;
	z-index: 10;
	position: absolute;
}

.postcode_uppercase {
	text-transform: uppercase;
}

div#enter_postcode {
	z-index: 50;
	position: relative;
	width: 100%;
}

div#enter_postcode h1 {
	font-size: 50px;
	font-weight: normal;
	text-transform: none;
	color: #FFFFFF;
	margin: 0 0 20px 0;
}

div#enter_postcode_inner {
	padding: 380px 0 0 0;
}
div#enter_postcode_inner.smaller_for_alert {
	padding: 180px 0 0 0;
}
div#enter_postcode_block {
	width: 1200px;
	height: 60px;
	margin: 0 auto 0 auto;
}
div#enter_postcode_block div.left {
	width: 1050px;
	height: 60px;
	float: left;
	background: #FFFFFF;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	overflow: hidden;
}
div#enter_postcode_block div.right {
	width: 150px;
	height: 60px;
	float: left;
	background: #EE1B23;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	overflow: hidden;
}
div#enter_postcode_block div.left input.postcode_input {
	display: block;
	border: none;
	width: 100%;
	height: 60px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 0px 0px 0px 15px;
	font-size: 20px;
	line-height: 1em;
	color: #444444;
}
div#enter_postcode_block div.right input.postcode_submit {
	display: block;
	border: none;
	width: 100%;
	height: 60px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	font-size: 20px;
	line-height: 1em;
	color: #FFFFFF;
	background-color: #EE1B23;
}
div#enter_postcode_block div.right input.postcode_submit:hover {
	background-color: #FC3E45;
}

/* Video */
div#video_background video { 
	position: fixed;
	/*position: relative;*/
	/*top: 50%;*/
	/*left: 50%;*/
	/*transform: translateX(-50%) translateY(-50%);*/
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	background: url('../vid/videos/pgg_journey.jpg') no-repeat;
	background-size: cover;
	transition: 1s opacity;
	/* Centralise. Custom width gets set by JavaScript */
	top: 50%;
	left: 50%;
	
	transform: translate(-50%, -50%);
	/*
    transform: translate(-50%, -50%);
	
	
	transform: scale(1.4875, 1.4875);
	width: 1280px;
	height: 720px;
	*/
}

div.entry_spacer {
	height: 50px;
}

div.entry_block_1,
div.entry_block_2 {
	width: 100%;
	height: 350px;
	background: #FFFFFF;
	overflow: hidden;
}
div.entry_block_1 div.eb_left {
	width: 700px;
	height: 350px;
	margin: 0;
	float: left;
	background: #999;
	overflow: hidden;
}
div.entry_block_1 div.eb_right {
	width: 495px;
	height: 350px;
	margin: 0;
	float: right;
	overflow: hidden;
}
div.entry_block_2 div.eb_left {
	width: 495px;
	height: 350px;
	margin: 0;
	float: left;
	overflow: hidden;
}
div.entry_block_2 div.eb_right {
	width: 700px;
	height: 350px;
	margin: 0;
	float: right;
	background: #999;
	overflow: hidden;
}
div.eb_text {
	text-align: center;
	width: 350px;
	margin: 0 auto 0 auto;
	padding: 110px 0 0 0;
}
div.eb_text h1,
div.eb_text h2,
div.eb_text h3 {
	font-size: 24px;
	margin: 0 0 10px 0;
}
div.eb_text p {
	font-size: 18px;
}

/*
div.entry_block_1 div.eb_left img,
div.entry_block_1 div.eb_right img,
div.entry_block_2 div.eb_left img,
div.entry_block_2 div.eb_right img {
	width: 100%;
	height: auto;
}
*/


/* Postcode */
div.postcode_error {
    background: #FDDDD4;
    background: rgba(255, 220, 210, 0.9);
}
div.postcode_error p.error_text {
    margin: 0;
    color: #CC0000;
    font-weight: bold;
    font-size: 14px;
}

/******************************/
/*
	Responsive
*/

@media only screen and (min-width: 1200px) and (max-width: 1500px) {
	div#enter_postcode_block {
		width: 1100px;
		height: 60px;
		margin: 0 auto 0 auto;
	}
	div#enter_postcode_block div.left {
		width: 80%;
		height: 60px;
		float: left;
	}
	div#enter_postcode_block div.right {
		width: 20%;
		float: left;
	}
	
	div.entry_block_1,
	div.entry_block_2 {
		
	}
	div.entry_block_1 div.eb_left {
		width: 600px;
	}
	div.entry_block_1 div.eb_right {
		
	}
	div.entry_block_2 div.eb_left {
		
	}
	div.entry_block_2 div.eb_right {
		width: 600px;
	}
	div.eb_text {
	
	}
	div.eb_text h1,
	div.eb_text h2,
	div.eb_text h3 {

	}
	div.eb_text p {
	
	}
}
/* Desktops */
@media only screen and (min-width: 980px) and (max-width: 1199px) {
	div#enter_postcode_block {
		width: 970px;
		height: 60px;
		margin: 0 auto 0 auto;
	}
	div#enter_postcode_block div.left {
		width: 80%;
		height: 60px;
		float: left;
	}
	div#enter_postcode_block div.right {
		width: 20%;
		height: 60px;
		float: left;
	}
	
	div.entry_block_1,
	div.entry_block_2 {
		width: 100%;
		height: 350px;
		background: #FFFFFF;
	}
	div.entry_block_1 div.eb_left {
		width: 500px;
		height: 350px;
		margin: 0;
		float: left;
		background: #999;
	}
	div.entry_block_1 div.eb_right {
		width: 465px;
		height: 350px;
		margin: 0;
		float: right;
	}
	div.entry_block_2 div.eb_left {
		width: 465px;
		height: 350px;
		margin: 0;
		float: left;
	}
	div.entry_block_2 div.eb_right {
		width: 500px;
		height: 350px;
		margin: 0;
		float: right;
		background: #999;
	}
	div.eb_text {
		text-align: center;
		width: 350px;
		margin: 0 auto 0 auto;
		padding: 110px 0 0 0;
	}
	div.eb_text h1,
	div.eb_text h2,
	div.eb_text h3 {
		font-size: 24px;
		margin: 0 0 10px 0;
	}
	div.eb_text p {
		font-size: 18px;
	}
	
}
/* iPad (or small monitor) Styles */
@media only screen and (min-width: 769px) and (max-width: 979px) {
	div#enter_postcode_block {
		width: 750px;
		height: 60px;
		margin: 0 auto 0 auto;
	}
	div#enter_postcode_block div.left {
		width: 80%;
		height: 60px;
		float: left;
	}
	div#enter_postcode_block div.right {
		width: 20%;
		height: 60px;
		float: left;
	}
	
	div.entry_block_1,
	div.entry_block_2 {
		width: 100%;
		height: 350px;
		background: #FFFFFF;
	}
	div.entry_block_1 div.eb_left {
		width: 50%;
		height: 350px;
		margin: 0;
		float: left;
		background: #999;
	}
	div.entry_block_1 div.eb_right {
		width: 50%;
		height: 350px;
		margin: 0;
		float: right;
	}
	div.entry_block_2 div.eb_left {
		width: 50%;
		height: 350px;
		margin: 0;
		float: left;
	}
	div.entry_block_2 div.eb_right {
		width: 50%;
		height: 350px;
		margin: 0;
		float: right;
		background: #999;
	}
	div.eb_text {
		text-align: center;
		width: 350px;
		margin: 0 auto 0 auto;
		padding: 110px 0 0 0;
	}
	div.eb_text h1,
	div.eb_text h2,
	div.eb_text h3 {
		font-size: 24px;
		margin: 0 0 10px 0;
	}
	div.eb_text p {
		font-size: 18px;
	}
	
}
/* Mobile Styles */
@media only screen and (min-width: 0px) and (max-width: 768px) {
	div#welcome,
	div#entry,
	div#hold_video {
		height: 450px;
		width: 100%;
		background: url('../img/layout/mobile_background_3.jpg');
		background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		-o-background-size: cover;
	}
	
	div#welcome.mobile_bigger_800,
	div#entry.mobile_bigger_800,
	div#hold_video.mobile_bigger_800 {
		height: 800px;
	}
	
	div.header {
		z-index: 100;
		position: absolute;
		width: 100%;
		margin: 0;
	}
	a.logo {
		display: block;
		width: 70px;
		height: 70px;
		background: url('../img/logo/logo_120.png') 0px 0px no-repeat;
		text-decoration: none;
		text-indent: -9999px;
		float: left;
		margin: 3px 0 0 3px;
		background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		-o-background-size: cover;
	}
	
	div#enter_postcode_inner {
		padding: 250px 5px 0 5px;
	}
	div#enter_postcode_inner.smaller_for_alert {
		padding: 80px 0 0 0;
	}
	div#enter_postcode h1 {
		font-size: 24px;
		font-weight: normal;
		text-transform: none;
		color: #FFFFFF;
		margin: 0 0 20px 0;
		text-shadow: 1px 1px 1px #111111;
	}
	
	div#enter_postcode_block {
		width: 100%;
		height: 60px;
		margin: 0 auto 0 auto;
	}
	div#enter_postcode_block div.left {
		width: 70%;
		height: 60px;
		float: left;
	}
	div#enter_postcode_block div.right {
		width: 30%;
		height: 60px;
		float: left;
	}
	
	div.entry_spacer {
		height: 0;
	}
	
	div.entry_block_1,
	div.entry_block_2 {
		width: 100%;
		height: auto;
		background: #FFFFFF;
	}
	div.entry_block_1 div.eb_left {
		width: 100%;
		height: auto;
		float: none;
	}
	div.entry_block_1 div.eb_right {
		width: 100%;
		height: auto;
		float: none;
	}
	div.entry_block_2 div.eb_left {
		width: 100%;
		height: auto;
		float: none;
	}
	div.entry_block_2 div.eb_right {
		width: 100%;
		height: auto;
		float: none;
	}
	div.eb_text {
		width: auto;
		height: auto;
		float: none;
		padding: 30px;
	}
	div.eb_text h1,
	div.eb_text h2,
	div.eb_text h3 {
		font-size: 18px;
		margin: 0 0 10px 0;
	}
	div.eb_text p {
		font-size: 16px;
	}
	
	div.entry_block_1 div.eb_left img,
	div.entry_block_1 div.eb_right img,
	div.entry_block_2 div.eb_left img,
	div.entry_block_2 div.eb_right img {
		width: 100%;
		height: auto;
	}
}