/*
	Pizza GOGO
	Menu pages
*/

div#menu_page {
	padding: 20px 0 20px 0;
}
div.menu_item {
	float: left;
}
div.menu_item_full {
	width: 100%;
}
div.menu_item_half {
	width: 50%;
}
div.menu_item_third {
	width: 33.3%;
}
div.menu_item_quarter {
	width: 25%;
}

div.menu_item_pad {
	padding: 8px;
	padding: 12px;
}
div.menu_inner {
	background: #FFFFFF;
	position: relative;
	
	background-color: #FFFFFF;
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
}
div.menu_hover {
	-webkit-transition: 0.15s;
	transition: 0.15s;
}
div.menu_hover:hover {
	-ms-transform: scale(1.02,1.02); /* IE 9 */
   	-webkit-transform: scale(1.02,1.02); /* Safari */
    transform: scale(1.02,1.02);
	/* 2px 2px 5px rgba(29,29,33,0.1); */
	-moz-box-shadow: 6px 2px 16px rgba(29,29,33,0.16);
	-webkit-box-shadow: 6px 2px 16px rgba(29,29,33,0.16);
	box-shadow: 6px 2px 16px rgba(29,29,33,0.16);
}

div.menu_inner a.menu_link,
div.menu_inner a.menu_link_special {
	display: block;
	position: absolute;
	z-index: 200;
	width: 100%;
}
div.menu_object {
	background: #FFFFFF;
}
div.menu_object_grey {
	background: #F5F5F5;
}
div.menu_desc {
	height: 120px;
	overflow: hidden;
	text-align: left;
}
div.menu_desc_pad {
	padding: 20px 20px 0px 20px;
}
div.menu_desc_bottom {
	height: 10px;
}
div.menu_quick_add {
	padding: 10px 15px 0 15px;
	height: 50px;
	min-height: 50px;
}
div.menu_quick_add table tr td {
	padding: 0 5px 0 5px;
	text-align: left;
}
div.menu_quick {
	position: relative;
}
div.menu_quick_added {
	position: relative;
	width: 100%;
	background: #F5F5F5;
	height: auto;
}
div.menu_quick_add_from {
	padding: 14px 0 0 0;
	text-align: left;
	font-style: italic;
}
div.menu_quick_add_from span {
	font-weight: bold;
}

div.specials_select_size a.button_flat {
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin: 8px 0 8px 0;
}


div.menu_desc p.title {
	font-size: 18px;
	font-weight: bold;
	font-family: 'Exo 2', arial, sans-serif;
	color: #E0121A;
	color: #333333;
	text-transform: uppercase;
	margin: 0;
}
div.menu_desc p.title a {
	color: #333333;
	text-decoration: none;
	display: block;
}
div.menu_desc p.desc {
	font-size: 14px;
}
div.menu_desc p.desc a {
	color: #555555;
	text-decoration: none;
	display: block;
}

div.menu_item_full div.menu_inner,
div.menu_item_full div.menu_inner_quick,
div.menu_item_full div.menu_inner a {
	height: 250px;
}
div.menu_item_half div.menu_inner,
div.menu_item_half div.menu_inner_quick,
div.menu_item_half div.menu_inner a {
	height: 250px;
}
div.menu_item_third div.menu_inner,
div.menu_item_third div.menu_inner_quick,
div.menu_item_third div.menu_inner a {
	height: 200px;
}
div.menu_item_quarter div.menu_inner,
div.menu_item_quarter div.menu_inner_quick,
div.menu_item_quarter div.menu_inner a {
	height: 200px;
}

div.menu_options {
	background: #F5F5F5;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
	padding: 15px;
	margin: 0 0 35px 0;
	clear: both;
}
div.menu_info_blank {
	height: 34px;
}
div.menu_info {
	padding: 10px 20px 10px 20px;
	margin: 0px;
	color: #989898;
	font-size: 14px;
	line-height: 14px;
	background: #EFEFEF;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-transition: 0.25s;
	transition: 0.25s;
}
div.menu_info.none {
	padding: 0px;
}
div.menu_info:after {
	content: "";
	display: table;
	clear: both;
}
div.menu_info_active:hover {
	background: #FFFFFF;
	-moz-box-shadow: 0 2px 2px rgba(29,29,33,0.4);
	-webkit-box-shadow: 0 2px 2px rgba(29,29,33,0.4);
	box-shadow: 0 0px 3px rgba(29,29,33,0.05);
}
div.menu_info a {
	display: block;
	width: 100%;
	color: #989898;
	font-size: 14px;
	line-height: 14px;
	text-decoration: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
div.menu_info a:hover {
	color: #333333;
}
div.menu_info a span {
	display: block;
	padding: 10px;
}
div.menu_info_left,
div.menu_info_right {
	width: 50%;
	float: left;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	color: #878787;
}
div.menu_info_left {
	text-align: left;
	border-right: 1px solid #E5E5E5;
}
div.menu_info_right {
	text-align: right;
}

div.pizza_flag {
	width: 20px;
	height: 20px;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	float: right;
	z-index: 1000;
	margin: 5px 5px 0 0;
}
div.pizza_flag a {
	display: block;
	text-decoration: none;
	width: 20px;
	height: 20px;
}
div.flag_hot {
	background-image: url('../../img/icons/warnings/hot.png');
}
div.flag_veg {
	background-image: url('../../img/icons/warnings/veg.png');
}
div.product_min_price {
    position: absolute;
    left: -10px;
    bottom: -5px;
    font-size: 20px;
    width: 100px;
    font-weight: 700;
    color: #FFFFFF;
    background: #E0121A;
    background: #0054A5;
    padding: 10px;
    line-height: 1;
    z-index: 2;
    text-transform: uppercase;
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    text-shadow: 1px 2px 1px rgba(29,29,33,0.4);
	-moz-box-shadow: 0 2px 2px rgba(29,29,33,0.4);
	-webkit-box-shadow: 0 2px 2px rgba(29,29,33,0.4);
	box-shadow: 0 2px 2px rgba(29,29,33,0.4);
}
div.product_min_price span.from {
	font-size: 10px;
	font-weight: 400;
	margin: 0 4px 0 0;
	color: rgba(255,255,255,0.5);
}


div.menu_title {
	position: absolute;
	z-index: 100;
	width: 90%;
	left: 5%;
	height: 46px;
	
	background: #FFFFFF;
	background: rgba(255,255,255,0.8);
	
	background: #E0121A;
	background: rgba(224,18,26,0.8);
	
	
	background: #0054A5;
	background: rgba(0,84,165,0.8);
	
	
	background: #333333;
	background: rgba(51,51,51,0.6);
	
	
	
	-webkit-transition: 0.15s;
	transition: 0.25s;
	
	text-align: center;
}

div.menu_hover:hover div.menu_title {
	background: rgba(51,51,51,1);
	background: rgba(0,84,165,1);	
}

div.menu_item_full div.menu_title {
	top: 180px;
}
div.menu_item_half div.menu_title {
	top: 180px;
}
div.menu_item_third div.menu_title {
	top: 135px;
}
div.menu_item_quarter div.menu_title {
	top: 135px;
}


div.menu_title_pad {
	padding: 10px;
}
div.menu_title h2,
div.menu_title h3 {
	font-size: 26px;
	margin: 0;
	line-height: 1em;
	
	color: #E0121A;
	color: #FFFFFF;
}	


div.menu_new {
	text-align: right;
	padding: 20px;
}
div.menu_new h1 {
	font-size: 26px;
	margin: 0 0 10px 0;
}
div.menu_new p {
	font-size: 16px;
	text-transform: uppercase;
	margin: 0;
}


/* Menu navigation */
div.hold_page_navigation {
	height: 60px;
}
div.page_navigation {
	height: 60px;
	background: #333333;
	position: fixed;
	width: 100%;
	z-index: 800;
	-moz-box-shadow: 0 2px 2px rgba(29,29,33,0.4);
	-webkit-box-shadow: 0 2px 2px rgba(29,29,33,0.4);
	box-shadow: 0 2px 2px rgba(29,29,33,0.4);
}


div#main_nav_menu {
	display: none;
}
div#main_nav_button ul#main_nav {
	margin: 0 0 0 130px;
}
div#main_nav_button ul#main_nav li {
	float: left;
	height: 60px;
}
div#main_nav_button ul#main_nav li a {
	color: #CCC;
	display: block;
	height: 60px;
	font-size: 16px;
	text-transform: uppercase;
}
div#main_nav_button ul#main_nav li a:hover {
	color: #FFFFFF;
	background: #0054A5;
}
div#main_nav_button ul#main_nav li a span.main_links {
	display: block;
	padding: 22px 15px 0px 15px;
}
div#main_nav_button ul#main_nav li a.active {
	color: #FFFFFF;
	background: #0054A5;
}

/* Menu promotion */
div.menu_promote {
	background: #333333;
}
div.menu_promote_left {
	float: left;
	width: 600px;
	height: 150px;
	margin: 0 0 0 50px;
}
div.menu_promote_left_1 {
	width: 300px;
	float: left;
	height: 150px;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	/*
	-moz-box-shadow: 0 0 150px 50px rgba(51,51,51,1) inset;
    -webkit-box-shadow: 0 0 150px 50px rgba(51,51,51,1) inset;
    box-shadow: 0 0 40px 30px rgba(51,51,51,1) inset;
	*/
}
div.menu_promote_left_1 a {
	display: block;
	width: 300px;
	height: 150px;
	text-decoration: none;
	color: #000000;
	
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#333333+0,333333+50,333333+100&1+0,0+50,1+100 */
	background: -moz-linear-gradient(left,  rgba(51,51,51,1) 0%, rgba(51,51,51,0) 50%, rgba(51,51,51,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(51,51,51,1) 0%,rgba(51,51,51,0) 50%,rgba(51,51,51,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(51,51,51,1) 0%,rgba(51,51,51,0) 50%,rgba(51,51,51,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#333333',GradientType=1 ); /* IE6-9 */

}
div.menu_promote_left_2 {
	width: 300px;
	float: left;
	height: 150px;
}
div.menu_promote_left_2_pad {
	padding: 54px 0 0 10px;
	text-align: left;
}
div.menu_promote_left_2 a {
	font-size: 20px;
	color: #FFFFFF;
	font-family: 'Exo 2', arial, sans-serif;
	text-decoration: none;
	font-weight: normal;
}

div.menu_promote_right {
	width: 420px;
	float: right;
}
div.menu_promote_right_inner {
	padding: 44px 50px 0 0;
	text-align: right;
}
div.menu_promote_right_inner h1 {
	color: #CCCCCC;
	text-shadow: 1px 1px 1px #121212;
}
div.menu_promote_right_inner p, 
div.menu_promote_right_inner a {
	color: #777777;
}
div.menu_promote_right_inner a:hover {
	color: #FFFFFF;
}


/******************************/
/*
	Main Product Nav
*/
ul#main_menu {
	margin: 0;
	padding: 0;
	border: 0;
}
ul#main_menu {
	display: none;
}
ul#main_menu li {
	list-style: none;
	padding: 0;
	margin: 0;
	display: block;
	float: left;
}
ul#main_menu li a {
	display: block;
	width: 100%;
	height: 60px;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
	color: #EEEEEE;
	text-shadow: 1px 1px 1px #000000;
	text-align: left;
	margin: 0;
}
ul#main_menu  li a span {
	display: block;
	padding: 20px 15px 0px 15px;
}
ul#main_menu li.right {
	float: right;
}
ul#main_menu li.right span {
	display: block;
	padding: 14px 0 0 0;
}
ul#main_menu li.middle {
	text-align: center;
	color: #737373;
	font-size: 14px;
	display: block;
	width: 140px;
	background: none;
	position: absolute;
	left: calc(50% - 70px);
	top: 24px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
}

ul#main_menu li.right a.cart {
	display: inline-block;
	color: #FFFFFF;
	background: #252525;
	text-decoration: none;
	font-size: 32px;
	width: 60px;
	height: 60px;
	text-align: center;
	position: relative;
	margin: 0;
}
ul#main_menu li.right a.cart span.cart_mobile_count {
	display: block;
	width: 16px;
	height: 16px;
	overflow: hidden;
	font-size: 16px;
	font-family: arial, sans-serif;
	color: #FFFFFF;
	background: #6BC72A;
	background: rgba(107,199,42,0.9);
	position: absolute;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
	top: 2px;
	right: 2px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 4px;
}



/* Popover UI */

/* Single products */
div.product_info_left_popover {
	width: 420px;
	height: 378px;
	float: left;
}
div.product_info_left_popover_desc {
	height: 65px;
	overflow: hidden;
}
div.product_info_left p {
	margin: 0 0 12px 0;
}
div.product_info_left ul li {
	margin: 0 0 8px 1em;
	font-size: 16px;
	list-style: square;
}
div.product_info_right {
	float: right;
	margin: 10px;
	width: 210px;
}
div.post_add_cat {
	width: 200px;
	height: 80px;
	margin: 0 auto 10px auto;
}
div.post_add_cat a {
	display: block;
	width: 200px;
	height: 80px;
}
div.product_tick {
	background: url('../../img/icons/64/tick.png') 0px 0px no-repeat;
	padding: 0 0 0 69px;
}
div.product_cross {
	background-image: url('../../img/icons/64/cross.png');
	background-position: 10px 10px;
	background-repeat: no-repeat;
	background-color: #F5ABAB;
	padding: 10px 10px 10px 79px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
select.product_dropdown {
	margin: 0 0 15px 0;
}

/* Suggest area */
div.suggest_box_holder {
	width: 646px;
	margin: 0 auto 0 auto;
}
div.suggest_box {
	width: 300px;
	float: left;
	margin: 10px;
	text-align: center;
}
div.suggest_box_pad {
	padding: 10px;
}
div.suggest_box div.menu_inner {
	height: 110px;
	margin: 0 0 10px 0;
	overflow: hidden;
}
div.suggest_box div.menu_inner a {
	display: block;
	width: 100%;
	height: 110px;
}

div.product_item_image {
    background: url('../../img/loaders/1.gif') center center no-repeat;
}
div.product_item_holder, 
div.product_item_image {
    width: 206px;
    height: 140px;
    border: 1px solid #EEEEEE;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
}
div.product_item_image a {
    display: block;
    width: 100%;
    height: 140px;
    color: #111111;
}



/* Single product page */
div.menu_single {
	background: #F5F5F5;
	position: relative;
	
	background-color: #F5F5F5;
	background-repeat: no-repeat;
	background-position: top right;
	
	background-size: 100%;
	
	/*
	height: 1000px;
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	*/
}

div.menu_single_inner {
	width: 100%;
	float: left;
	background: none;
	margin: 100px 0 0 0;
}
div.menu_single_inner div.white_page {
	background: none;
}

div.menu_single_inner div.product_info_left {
	width: 50%;
	background: #FFFFFF;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	margin: 0;
	float: left;
}

div.menu_single_inner div.product_info_left_styled {
	background: #F7F7F7;
	background: #F1F2F2;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

div.menu_single_inner div.product_info_left_pad div.pad10 {
	padding: 30px;
}
div.menu_single_inner div.product_info_right {
	display: none;
}
div.menu_single_inner div.product_info_right_special {
	display: block;
	width: 50%;
	margin: 0;
	float: right;
	text-align: center;
}
div.menu_single_inner div.product_info_right_special div.product_item_image {
	width: 100%;
	height: 300px;
	display: inline-block;
}
div.menu_single_inner div.product_info_controls {
	width: 50%;
	background: #FFFFFF;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}
div.menu_single_inner div.offset_page {
	/*border-top: 1px solid #CCCCCC;*/
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}
div.menu_single_inner div.product_info_extra {
	width: 100%;
	background: #F5F5F5;
	margin: 100px 0 0 0;
}
div.menu_single_inner div.product_info_extra_bg {
	background: #FFFFFF;
}

/* Single Product - Customise */
div.menu_toppings span.small {
	display: block;
	font-size: 12px;
}	

div.option_select {
	width: 33%;
	float: Left;
	border: 1px solid #CCCCCC;
	background: #FFFFFF;
}
div.option_select_small {
	width: 24%;
	float: Left;
	border: 1px solid #CCCCCC;
	cursor: pointer !important;
}
div.option_selected {
	border: 1px solid #FF0000;
	background: url('../img/icons/products/x1.jpg') center right no-repeat #CC0000;
	color: #FFFFFF;
	-moz-box-shadow: 0px 0px 5px #EEE;
	-webkit-box-shadow: 0px 0px 5px #EEE;
	box-shadow: 0px 0px 5px #EEE;
}
div.option_selected_twice {
	border: 1px solid #FF0000;
	background: url('../img/icons/products/x2.jpg') center right no-repeat #CC0000;
	color: #FFFFFF;
	-moz-box-shadow: 0px 0px 5px #EEE;
	-webkit-box-shadow: 0px 0px 5px #EEE;
	box-shadow: 0px 0px 5px #EEE;
}
div.option_select a,
div.option_select_small a {
	color: #444444;
	text-decoration: none;
	font-size: 11px;
	font-weight: bold;
}
div.option_select a:hover,
div.option_select_small a:hover {
	color: #444444;
	text-decoration: none;
}
div.option_select a span,
div.option_select_small a span {
	display: block;
	padding: 15px;
	cursor: pointer !important;
}
div.option_selected a,
div.option_selected_twice a {
	color: #FFFFFF;
}
div.option_selected a:hover,
div.option_selected_twice a:hover {
	color: #FFFFFF;
}
div.option_selected a span,
div.option_selected_twice a span {
	font-weight: bold;
}

div.pizza_popover_box_1 {
	width: 328px;
	float: left;
}
div.pizza_popover_box_left {
	margin: 0 10px 0 0;
}
span.product_price {
	color: #CC0000;
	font-size: 20px;
	line-height: 18px;
	font-weight: bold;
	margin: 0 10px 0 0;
}
span.toppings_green {
	font-size: 22px;
	font-weight: bold;
	color: #4F8A10;
}
span.toppings_red {
	font-size: 22px;
	font-weight: bold;
	color: #CC0000;
}

/* Post checkout */
a.share_button {
	display: inline-block;
	width: 122px;
	height: 42px;
	text-decoration: none;
	text-indent: -9999px;
	background-repeat: no-repeat;
	background-position: 0px 0px;
}
a.share_facebook {
	background-image: url('../../img/layout/share/facebook.jpg');
}
a.share_twitter {
	background-image: url('../../img/layout/share/twitter.jpg');
}

/* Nutrition / allergen */
div.nutritional_info {
	padding: 10px;
}
div.nutritional_info_title {
	text-align: left;
}
div.nutritional,
div.nutritional_title,
div.nutritional_body {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	text-align: left;
}
div.nutritional {
	border: 1px solid #D5D5D5;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	margin: 20px 0 0 0;
}
div.nutritional_specials {
	margin: 0 0 20px 0;
}
div.nutritional_single {
	margin: 0 0 10px 0;
}
div.nutritional_title {
	border-bottom: 1px solid #D5D5D5;
	padding: 5px;
}
div.nutritional_title p {
	margin: 0;
	font-size: 12px;
	line-height: 12px;
}
div.nutritional_body {
	padding: 5px;
	font-size: 12px;
	line-height: 12px;
}
div.nutritional_body p {
	margin: 0;
	font-size: 12px;
	line-height: 1.4em;
	color: #565656;
}
div.nutritional_body p.nutritional_left {
	float: left;
}
div.nutritional_body p.nutritional_right {
	float: right;
	text-align: right;
}
div.nutritional_row {
	padding: 4px;
	border-bottom: 1px dashed #EEEEEE;
}
div.nutritional_row:last-child {
	border-bottom: none;
}
div.nutritional_row::after {
	content: "";
	display: table;
	clear: both;
}
div.nutritional_footer a {
	display: block;
	width: 100%;
	color: #E0121A;
	background: none;
	font-weight: normal;
	font-size: 12px;
	text-align: center;
}
div.nutritional_footer a span {
	display: block;
	padding: 5px;
}
div.nutritional_footer a:hover {
	background: #E0121A;
	color: #FFFFFF;
}

/******************************/
/*
	Responsive
*/

@media only screen and (min-width: 1200px) and (max-width: 1500px) {
	
}
/* Desktops */
@media only screen and (min-width: 980px) and (max-width: 1199px) {
	/* Menu navigation */
	div#main_nav_button ul#main_nav {
		margin: 0 0 0 120px;
	}
	div#main_nav_button ul#main_nav li a {
		color: #CCC;
		display: block;
		height: 60px;
		font-size: 14px;
		text-transform: uppercase;
	}
	div#main_nav_button ul#main_nav li a span.main_links {
		display: block;
		padding: 22px 12px 0px 12px;
	}
	
	/* Menu promotion */
	div.menu_promote_left {
		width: 50%;
		margin: 0;
	}
	div.menu_promote_left_1 {
		width: 50%;
		float: left;
	}
	div.menu_promote_left_1 a {
		width: 100%;
	}
	div.menu_promote_left_2 {
		width: 50%;
	}
	div.menu_promote_right {
		width: 50%;
	}
	
	div.menu_desc p.title {
		font-size: 16px;
	}
}
/* iPad (or small monitor) Styles */
@media only screen and (min-width: 768px) and (max-width: 979px) {
	/* Menu navigation */
	div#main_nav_button ul#main_nav {
		margin: 0 0 0 120px;
	}
	div#main_nav_button ul#main_nav li a {
		color: #CCC;
		display: block;
		height: 60px;
		font-size: 12px;
		text-transform: uppercase;
	}
	div#main_nav_button ul#main_nav li a span.main_links {
		display: block;
		padding: 22px 7px 0px 7px;
	}
	div#main_nav_button ul#main_nav li a.active {
		color: #FFFFFF;
		background: #0054A5;
	}
	
	div.menu_item_full div.menu_inner,
	div.menu_item_full div.menu_inner_quick,
	div.menu_item_full div.menu_inner a {
		height: 200px;
	}
	div.menu_item_half div.menu_inner,
	div.menu_item_half div.menu_inner_quick,
	div.menu_item_half div.menu_inner a {
		height: 200px;
	}
	div.menu_item_third div.menu_inner,
	div.menu_item_third div.menu_inner_quick,
	div.menu_item_third div.menu_inner a {
		height: 200px;
	}
	div.menu_item_quarter div.menu_inner,
	div.menu_item_quarter div.menu_inner_quick,
	div.menu_item_quarter div.menu_inner a {
		height: 200px;
	}
	div.menu_item_full div.menu_title {
		top: 135px;
	}
	div.menu_item_half div.menu_title {
		top: 135px;
	}
	div.menu_item_third div.menu_title {
		top: 135px;
	}
	div.menu_item_quarter div.menu_title {
		top: 135px;
	}
	
	/* Menu promotion */
	div.menu_promote_left {
		width: 50%;
		margin: 0;
	}
	div.menu_promote_left_1 {
		width: 50%;
		float: left;
	}
	div.menu_promote_left_1 a {
		width: 100%;
	}
	div.menu_promote_left_2 {
		width: 50%;
	}
	div.menu_promote_right {
		width: 50%;
	}
	
	div.menu_single_inner {
		margin: 40px 0 0 0;
	}
	div.menu_single_inner div.product_info_extra {
		margin: 40px 0 0 0;
	}
	
	/* Toppings */
	div.option_select_small {
		width: 32%;
	}
	
	div.menu_desc p.title {
		font-size: 16px;
	}
	
	div.menu_item_third,
	div.menu_item_quarter {
		width: 50%;
	}
}
/* Mobile Styles */
@media only screen and (min-width: 0px) and (max-width: 767px) {
	div.menu_item  {
		margin: 0 0 30px 0;
	}
	div.menu_item_full,
	div.menu_item_half,
	div.menu_item_third,
	div.menu_item_quarter {
		width: 100%;
		float: none;
	}
	div.menu_hover div.menu_title {
		background: rgba(0,84,165,0.8);
	}
	div.menu_item_full div.menu_inner,
	div.menu_item_full div.menu_inner_quick,
	div.menu_item_full div.menu_inner a {
		height: 200px;
	}
	div.menu_item_half div.menu_inner,
	div.menu_item_half div.menu_inner_quick,
	div.menu_item_half div.menu_inner a {
		height: 200px;
	}
	div.menu_item_third div.menu_inner,
	div.menu_item_third div.menu_inner_quick,
	div.menu_item_third div.menu_inner a {
		height: 200px;
	}
	div.menu_item_quarter div.menu_inner,
	div.menu_item_quarter div.menu_inner_quick,
	div.menu_item_quarter div.menu_inner a {
		height: 200px;
	}
	div.menu_item_full div.menu_title {
		top: 135px;
	}
	div.menu_item_half div.menu_title {
		top: 135px;
	}
	div.menu_item_third div.menu_title {
		top: 135px;
	}
	div.menu_item_quarter div.menu_title {
		top: 135px;
	}
	
	div#menu_page {
		padding: 0;
	}
	div.menu_item_pad {
		padding: 0;
	}
	
	/* Main product nav */
	div.page_navigation {
		position: relative;
		z-index: 800;
	}
	div#main_nav_button {
		display: none;
	}
	ul#main_menu {
		display: block;
	}
	div#main_nav_menu {
		display: block;
	}
	ul#main_nav  li a {
		border-top: 1px solid #222222;
		text-align: left;
		font-size: 18px;
	}
	ul#main_nav  li a span.main_links,
	ul#main_menu  li a span.main_links {
		display: block;
		padding: 14px;
	}
	ul#main_nav  li {
		width: 100%;
	}
	ul#main_nav  li a {
		width: 100%;
		font-size: 16px;
	}
	ul#main_nav  li a:hover{
		background: #CC0000;
	}
	div#main_nav_button ul#main_nav {
		margin: 0;
	}
	div#main_nav_button ul#main_nav li {
		width: 100%;
		background: #333333;
	}
	
	/* Menu promotion */
	div.menu_promote {
		margin: 0 0 30px 0;
		display: none; /* 2021-01-11 */
	}
	div.menu_promote_left {
		float: none;
		width: 100%;
		margin: 0;
		margin: 0;
	}
	div.menu_promote_left_1 {
		width: 50%;
		float: left;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	div.menu_promote_left_1 a {
		width: 100%;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#333333+0,333333+100&0+0,1+100 */
		background: -moz-linear-gradient(left,  rgba(51,51,51,0) 0%, rgba(51,51,51,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left,  rgba(51,51,51,0) 0%,rgba(51,51,51,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right,  rgba(51,51,51,0) 0%,rgba(51,51,51,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00333333', endColorstr='#333333',GradientType=1 ); /* IE6-9 */
	}
	div.menu_promote_left_2 {
		width: 50%;
		float: left;
	}
	div.menu_promote_left_2 a {
		font-size: 16px;
	}
	div.menu_promote_right {
		float: none;
		width: 100%;
		margin: 0;
		display: none;
	}
	
	/* Menu options */
	div.menu_options a.button_flat,
	div.menu_options select {
		float: none !important;
		display: block;
		width: 100%;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		margin: 0 auto 0 auto;
	}
	div.menu_options select {
		margin: 20px 0 0 0;
	}
	
	div.menu_single_inner {
		margin: 210px 0 0 0;
	}
	div.menu_single_inner div.product_info_extra {
		margin: 40px 0 0 0;
	}
	div.menu_single_inner div.product_info_left {
		width: 100%;
		background: #FFFFFF;
		-webkit-border-top-left-radius: 3px;
		-webkit-border-top-right-radius: 3px;
		-moz-border-radius-topleft: 3px;
		-moz-border-radius-topright: 3px;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		margin: 0;
		float: none;
	}
	
	/* Toppings */
	div.option_select_small {
		width: 100%;
		float: none;
		margin: 0 0 2px 0;
	}
	div.option_select_small a {
		font-size: 12px;
	}
	
	div.menu_single_inner div.product_info_controls {
		width: 100%;
	}
	div#addedto_window a.button_flat_left,
	div#addedto_window a.button_flat_right {
		float: none;
	}
	div.suggest_box_holder,
	div.suggest_box {
		width: 100%;
		margin: 0;
	}
	
	div#special_area div.product_info_right {
		width: 100%;
		float: none;
		margin: 0;
	}
	
	div.specials_select_size a.button_flat {
		width: 100%;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		margin: 8px 0 8px 0;
	}
	
	div.product_item_holder, 
	div.product_item_image {
		border: none;
	}
}